<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>Sensitivity</string>
			<key>Title</key>
			<string>sensitivity</string>
			<key>Key</key>
			<string>5</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>Calibrated Frequency</string>
			<key>Title</key>
			<string>calibratedFrequency</string>
			<key>Key</key>
			<string>440.0</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Instrument Color</string>
			<key>Key</key>
			<string>instrumentColor</string>
			<key>DefaultValue</key>
			<string>default</string>
			<key>Values</key>
			<array>
				<string>pink</string>
				<string>gay</string>
				<string>default</string>
				<string>white</string>
				<string>orange</string>
				<string>red</string>
				<string>green</string>
				<string>blue</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>UkuleleType</string>
			<key>Key</key>
			<string>ukuleleType</string>
			<key>DefaultValue</key>
			<string>Soprano (G4 - C4 - E4 - A4)</string>
			<key>Values</key>
			<array>
				<string>Sopranino (D5 - G4 - B4 - E5)</string>
				<string>Sopranino (C5 - F4 - A4 - D5)</string>
				<string>Soprano (A4 - D4 - F#4 - B4)</string>
				<string>Soprano (G4 - C4 - E4 - A4)</string>
				<string>Concert (A4 - D4 - F#4 - B4)</string>
				<string>Concert (G4 - C4 - E4 - A4)</string>
				<string>Tenor (A4 - D4 - F#4 - B4)</string>
				<string>Tenor (G4 - C4 - E4 - A4)</string>
				<string>Tenor (G3 - C4 - E4 - A4)</string>
				<string>Tenor (D4 - G3 - B3 - E4)</string>
				<string>Barritone (D3 - G3 - B3 - E4)</string>
				<string>Bass (E1 - A1 - D2 - G2)</string>
			</array>
		</dict>
        <dict>
            <key>Type</key>
            <string>PSMultiValueSpecifier</string>
            <key>Title</key>
            <string>GuitarType</string>
            <key>Key</key>
            <string>guitarType</string>
            <key>DefaultValue</key>
            <string>6 - Classical / Acoustic (E - A - D - G - B - E)</string>
            <key>Values</key>
            <array>
                <string>6 - Classical / Acoustic (E - A - D - G - B - E)</string>
                <string>6 - Classical Drop D (D - A - D - G - B - E)</string>
                <string>6 - Classical Drop C (C - G - C - F - A - D)</string>
                <string>6 - Classical Open G (D - G - D - G - B - D)</string>
                <string>5 - Bass Standard (B - E - A - D - G)</string>
                <string>5 - Bass High C (E - A - D - G - C)</string>
                <string>5 - Bass Half Step Down (A# - D# - G# - F - F#)</string>
                <string>5 - Bass Full Step Down (A - D - G - C - F)</string>
                <string>4 - Bass Standard (E - A - D - G)</string>
                <string>4 - Bass Drop D (D - A - D - G)</string>
                <string>4 - Bass Half Step Down (D# - G# - C# - A#)</string>
                <string>4 - Bass Full Step Down (D - G - C - A)</string>
                <string>4 - Bass Low B (B - E - A - D)</string>
                <string>4 - Bass Drop C (C - A - D - G)</string>
            </array>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSMultiValueSpecifier</string>
            <key>Title</key>
            <string>BanjoType</string>
            <key>Key</key>
            <string>banjoType</string>
            <key>DefaultValue</key>
            <string>Soprano (G4 - C4 - E4 - A4)</string>
            <key>Values</key>
            <array>
                <string>Sopranino (D5 - G4 - B4 - E5)</string>
                <string>Sopranino (C5 - F4 - A4 - D5)</string>
                <string>Soprano (A4 - D4 - F#4 - B4)</string>
                <string>Soprano (G4 - C4 - E4 - A4)</string>
                <string>Concert (A4 - D4 - F#4 - B4)</string>
                <string>Concert (G4 - C4 - E4 - A4)</string>
                <string>Tenor (A4 - D4 - F#4 - B4)</string>
                <string>Tenor (G4 - C4 - E4 - A4)</string>
                <string>Tenor (G3 - C4 - E4 - A4)</string>
                <string>Tenor (D4 - G3 - B3 - E4)</string>
                <string>Barritone (D3 - G3 - B3 - E4)</string>
                <string>Bass (E1 - A1 - D2 - G2)</string>
            </array>
        </dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>